<% unless spot.crowdnesses.empty? %>
  <p><%= link_to spot.name, spot_path(spot) %> <%= link_to 'Crowd!', new_spot_crowdness_path(spot), class: "btn btn-sm btn-warning py-0" %></p>

  <% if (Time.now - spot.crowdnesses.last.created_at).to_i/1.minutes < 60 %>
    <p><%= "#{spot.crowdnesses.last.level} #{((Time.now - spot.crowdnesses.last.created_at).to_i)/1.minutes} min ago" %></p>
  <% elsif (Time.now - spot.crowdnesses.last.created_at).to_i/1.minutes > 60 && (Time.now - spot.crowdnesses.last.created_at).to_i/1.minutes < 120 %>
    <p><%= "#{spot.crowdnesses.last.level} #{((Time.now - spot.crowdnesses.last.created_at).to_i)/1.hour} hour ago" %></p>
  <% else %>
    <p><%= "#{spot.crowdnesses.last.level} #{((Time.now - spot.crowdnesses.last.created_at).to_i)/1.hour} hours ago" %></p>
  <% end %>
  <hr>
  <p>Comments</p>
  <% spot.crowdnesses.sort_by { |event| [event.created_at] }.reverse.each do |crowdness| %>
    <ul><%= "#{crowdness.created_at.strftime("%H:%M")} - #{crowdness.description}" %></ul>
  <% end %>
<% end %>
