<p><%= link_to spot.name, spot_path(spot) %> <%= link_to 'Rate!', new_spot_crowdness_path(spot) %></p>
<%= spot.crowdnesses.last.level %> on <%= spot.crowdnesses.last.created_at.strftime("%d/%m/%Y %I:%M %p") %>
<%= Time.now.strftime("%I:%M:%S") %>
<hr>
<% spot.crowdnesses.each do |crowdness| %>
  <!-- <p>= link_to "Posted on #{crowdness.created_at.strftime("%d/%m/%Y %I:%M %p")}", spot_crowdness_path(spot, crowdness) %></p>
  <p>Level: = crowdness.level %></p> -->
  <p>Description: <%= crowdness.description %></p>
  <hr>
<% end %>