<h1>View da Post a New Spot</h1>
<%= simple_form_for [@spot] do |f| %>
  <%= f.input :address, label: 'Address' %>
  <!-- <= f.input :address, input_html: {value: f.object.address || 'bla bla bla'} %> -->
  <%= f.input :crowd_congestion, label: 'Crowded' %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.input :description, label: 'Description' %>
  <div class="txt-items txt-items">
    <%= f.submit "Add ✔", class: 'btn btn-blue' %>
  </div>
<% end %>

