<div class="icon_home">
  <%= link_to "Home", root_path %>
</div>
<div class="txt-items card">
  <%= simple_form_for @spot do |f| %>
    <%= f.input :name, placeholder: 'Name',label: false %>
    <%= f.input :street, placeholder: 'Street', label: false %>
    <%= f.input :number, placeholder: 'Number', label: false %>
    <%= f.input :city, placeholder: 'City', label: false %>
    <%= f.input :state,  placeholder: 'State', label: false %>
    <!-- <= f.input :address, label: 'Address' %> -->
    <%= f.simple_fields_for :crowdnesses do |g| %>
      <div class="crowed">
        <%= g.hidden_field :user_id, value: current_user.id %>
        <%= g.input_field :level, collection: ['Low', 'Medium', 'Crowded'], as: :radio_buttons, wrapper: :horizontal_collection_inline %>
        <br>
      </div>
      <%= g.input :description, placeholder: 'Description', label: false %>
        <div class="icon-image">
          <img class="photo-tag" id='preview'>
        </div>
        <%= g.input :photos, as: :file, input_html: { multiple: true } %>

    <% end %>
    <div class="txt-items btn-flex">
      <%= f.submit "Add ✔", class: 'btn-blue' %>
    </div>
  <% end %>
</div>
