<div class="txt-items card">
  <%= simple_form_for @spot do |f| %>
    <%= f.input :name, label: 'Name' %>
    <%= f.input :street, label: 'Street' %>
    <%= f.input :number, label: 'Number' %>
    <%= f.input :city, label: 'City' %>
    <%= f.input :state, label: 'State' %>
    <!-- <= f.input :address, label: 'Address' %> -->
    <%= f.simple_fields_for :crowdnesses do |g| %>
      <%= g.hidden_field :user_id, value: current_user.id %>
      <%= g.input_field :level, collection: ['Low', 'Medium', 'Crowded'], as: :radio_buttons, wrapper: :horizontal_collection_inline %>
      <br>
      <%= g.input :description, label: 'Description' %>
      <%= g.input :photos, as: :file, input_html: { multiple: true } %>
    <% end %>
  </div>
  <div class="txt-items btn-flex">
    <%= f.submit "Add ✔", class: 'btn-blue' %>
  </div>
<% end %>