<h1>View da Post a New Spot</h1>
<%= simple_form_for [@spot] do |f| %>
  <%= f.input :address, label: 'Address' %>
  <%= f.input :crowd_congestion, label: 'Crowded' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add ✔", class: 'btn btn-success' %>
<% end %>

