<p id="map"></p>
<p id="demo"></p>
<h1 class="txt-head">View da Post a New Spot</h1>
<%= simple_form_for [@spot] do |f| %>
  <%= f.input :address, label: 'Address' %>
  <!-- <= f.input :address, input_html: {value: f.object.address || 'bla bla bla'} %> -->
  <%= f.input :crowd_congestion, label: 'Crowded' %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <div class="btn-flex">
    <%= f.submit "Add ✔", class: 'btn-ok' %>
  </div>
<% end %>
