<div class="container">
  <p> Name: <%= @spot.name %> </p>
  <p> Address: <%= @spot.address %> </p>
  <hr>
  <% @spot.crowdnesses.each do |crowdness| %>
    <p>Posted on <%= crowdness.created_at.strftime("%d/%m/%Y %I:%M %p") %></p>
    <p>Level: <%= crowdness.level %></p>
    <p>Description: <%= crowdness.description %></p>
    <div class="carrossel">
      <ul>
        <% crowdness.photos.each do |photo| %>
          <li>
            <%= cl_image_tag photo.key, class: "ima_tag", height: 250, width: 400 ,crop: :fill %>
          </li>
        <% end %>
      </ul>
    </div>
    <hr>
  <% end %>
</div>