<div class="btn-home">
  <%= link_to root_path  do %>
    <%= image_tag "https://res.cloudinary.com/dbappiopini/image/upload/v1607399415/home_icon_white_ipejhz.png", class: 'icon-home' %>
  <% end %>
</div>
<p id="map"></p>
<p id="demo"></p>
<h1 class="txt-bold-big">Favorites Places
  <%= image_tag "https://res.cloudinary.com/dbappiopini/image/upload/v1607399415/home_icon_white_ipejhz.png", class: 'icon-home' %>
</h1>
<div class="txt-items card">
  <%= simple_form_for [@favorite] do |f| %>
    <%= f.association :spot %>
    <div class="icon-image">
      <img class="photo-tag" id='preview'>
    </div>
    <div class="btn-flex txt-items">
      <%= f.submit "Add ✔", class: 'btn-blue' %>
    </div>
  <% end %>
</div>
<% @favorites.each do |favorite| %>
  <p class="txt-items"><%= favorite.fav_spot %></p>
<% end %>
