<div class="btn-home">
  <%= link_to root_path  do %>
    <%= image_tag "https://res.cloudinary.com/dbappiopini/image/upload/v1607399415/home_icon_white_ipejhz.png", class: 'icon-home' %>
  <% end %>
</div>
<div class="txt-items card">
  <%= simple_form_for [@spot, @crowdness] do |f| %>
    <%= f.input_field :level, collection: ['Low', 'Medium', 'Crowded'], as: :radio_buttons %>
    <%= f.input :description, placeholder: 'Description', label: false %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add ✔", class: 'btn-blue' %>
  <% end %>
</div>
