<div class="btn-home">
  <%= link_to root_path  do %>
    <%= image_tag "https://res.cloudinary.com/dbappiopini/image/upload/v1607399415/home_icon_white_ipejhz.png", class: 'icon-home' %>
  <% end %>
</div>
<div class="txt-small">
  <div>
    <p>Posted on <%= @crowdness.created_at.strftime("%d/%m/%Y %I:%M %p") %></p>
    <p>Level: <%= @crowdness.level %></p>
    <p>Description: <%= @crowdness.description %></p>
    <div class="carrossel">
      <ul>
        <% @crowdness.photos.each do |photo| %>
          <li>
            <%= cl_image_tag photo.key, class: "ima_tag", height: 250, width: 400 ,crop: :fill %>
          </li>
        <% end %>
      </ul>
    </div>
    <hr>
  </div>
</div>
