<div class="icon_home">
  <%= link_to "Home", root_path %>
</div>
<h1 class="txt-head">Account Info</h1>
<div class="txt-items">
  <p class="txt-sentances"><%=@user.first_name %></p>
  <p class="txt-sentances"><%=@user.last_name %></p>
</div>
<!-- <= cl_image_tag('cygme6cswc1nmxohli5x') %> -->
<div class="txt-thin card">
  <%= simple_form_for [@user] do |f| %>
    <%= f.input :first_name, label: 'First Name' %>
    <%= f.input :last_name, label: 'Last Name' %>
    <%= f.input :photo, as: :file, label: 'Photo' %>
    <div class="btn-flex">
      <%= f.submit "Update", class: 'btn-blue' %>
    </div>
  <% end %>
</div>
<br>
<!-- <= link_to edit_user_registration_path do %> -->
<div class="btn-flex txt-thin">
  <button type="button" class="btn-blue">
    Edit Password
  </button>
</div>
