<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dbappiopini/image/upload/v1606503672/logopartiu-10_ndn9pw.png" %>
  <% end %>
  <div class="txt-logo">
    <%= '#PARTIU' %>
  </div>
  <button class="photo-user navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? %>
      <%= cl_image_tag user_image(current_user), width: 40, height: 40, radius: "max", crop: :thumb, gravity: :face, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <div class="btn-sand" onclick="this.classList.toggle('change')">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="txt-menu navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item d-md-none d-sm-none">
          <%= link_to "Account", user_path(current_user), class: "nav-link" %>
            <%= link_to "My Favorites Spots", favorites_path, class: "nav-link" %>
            <%= link_to "Post a Spot", new_spot_path, class: "nav-link" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown d-none d-md-inline-block">
          <%= cl_image_tag user_image(current_user), width: 40, height: 40, radius: "max", crop: :thumb, gravity: :face, class: "dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Account", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "My Favorites Spots", favorites_path, class: "dropdown-item" %>
            <%= link_to "Post!", new_spot_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
